:root { 
--pink_900:#7e1c1c; 
--green_700:#219653; 
--deep_orange_900:#92400e; 
--deep_purple_A400:#6c2cf9; 
--blue_gray_900_01:#2f2f2f; 
--blue_gray_900:#1f2937; 
--gray_600:#6b7280; 
--blue_gray_100:#cbd5e1; 
--orange_A200:#fb923c; 
--blue_gray_300:#a0a4ad; 
--gray_800:#4c4c4c; 
--black_900_0c:#0000000c; 
--gray_200:#e5e7eb; 
--blue_50:#e0e7ff; 
--gray_100_02:#f9f5f5; 
--gray_100_01:#f1f3f4; 
--blue_100:#bfdcff; 
--blue_gray_400_01:#82848f; 
--white_A700:#ffffff; 
--blue_gray_50:#eaebef; 
--blue_gray_100_01:#d1d5db; 
--blue_gray_100_02:#d7d4d3; 
--blue_gray_100_03:#d9d9d9; 
--indigo_A200:#6366f1; 
--red_500:#ef4444; 
--black_900:#000000; 
--yellow_700:#fbbd23; 
--light_green_700:#62ad48; 
--blue_gray_800:#374151; 
--deep_purple_A700:#570df8; 
--black_900_26:#00000026; 
--gray_900_02:#1a1b24; 
--gray_700:#595959; 
--gray_600_02:#776f6f; 
--gray_500:#a4a4a4; 
--gray_600_01:#797f87; 
--blue_gray_400:#82878e; 
--gray_900:#250b0b; 
--gray_900_01:#111827; 
--gray_300:#e2e2e2; 
--gray_300_02:#d8dde4; 
--gray_300_01:#e5e6e6; 
--blue_gray_300_01:#a0a5ad; 
--gray_100:#f2f2f2; 
--blue_gray_300_02:#9ca3af; 
--blue_gray_900_90:#2b344090; 
--black_900_33:#00000033; 
--indigo_A400:#4f46e5; 
--deep_purple_A400_01:#6c2bf9; 
--blue_gray_800_a2:#334155a2; 
--indigo_500:#4338ca; 
}